* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.ball {
    width: 500px;
    height: 500px;
    background-color: rgb(15, 6, 24);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

.shake {
    animation: shake 1s;
}

.display {
    background-color: rgb(60, 174, 21);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}