* {
    box-sizing: border-box;
}

.inline {
    background-color: salmon;
}

.inline-block {
    display: inline-block;
    width: 100px;
    background-color: salmon;
}

.block {
    display: block;
    background-color: salmon;
}

.content-box {
    background-color: salmon;
    width: 300px;
    padding: 50px;
    border: 10px solid sandybrown;
}

.border-box {
    background-color: salmon;
    width: 300px;
    padding: 50px;
    border: 10px solid sandybrown;
    box-sizing: border-box;
}

.horizontal-flex {
    background-color: salmon;
    display: flex;
}

.horizontal-flex div {
    padding: 10px;
}

.horizontal-flex div:last-child {
    margin-left: auto;
    background-color: mediumspringgreen
}

.horizontal-grid {
    background-color: salmon;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.horizontal-grid div {
    padding: 10px;
}

.horizontal-grid div:last-child {
    background-color: mediumspringgreen;
}

.grid-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.grid-header {
    background-color: mediumspringgreen;
    padding: 10px;
    grid-column: 1 / 3;
}

.grid-aside {
    padding: 10px;
    background-color: sandybrown;
}

.grid-main {
    background-color: salmon;
    padding: 10px;
    height: 200px;
}

.grid-footer {
    grid-column: span 2;
    background-color: mediumspringgreen;
    padding: 10px;
}

.flex-layout {
    display: flex;
    flex-wrap: wrap;
}

.flex-header {
    width: 100%;
    padding: 10px;
    background-color: mediumspringgreen;
}

.flex-aside {
    width: 200px;
    padding: 10px;
    background-color: sandybrown;
}

.flex-main {
    flex: 1;
    background-color: salmon;
    padding: 10px;
    height: 200px;
}

.flex-footer {
    width: 100%;
    background-color: mediumspringgreen;
    padding: 10px;
}

.position-container {
    display: flex;
}

.position-container div {
    padding: 20px;
    background: salmon;
}

.position-static {
    background-color: sandybrown !important;
    position: static;
    top: 20px;
    left: 20px;
}

.position-relative {
    background-color: sandybrown !important;
    position: relative;
    top: 20px;
    left: 20px;
}

.position-absolute {
    background-color: sandybrown !important;
    position: absolute;
    top: 20px;
    left: 20px;
}

.position-container-relative {
    position: relative;
}